<md-toolbar layout="row" class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button>
    <a ui-sref="home">Catalog</a>
    </md-button>
  </div>
</md-toolbar>
<md-content>
  <h1>{{ ::vm.item.title.default }}</h1>
  <md-list class="md-dense" flex>
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>id</h3>
        <p>{{ ::vm.item.id }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Owner</h3>
        <p>{{ ::vm.item.owner }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Title</h3>
        <p>{{ ::vm.item.title.default }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Description</h3>
        <p>{{ ::vm.item.description.default }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Content type</h3>
        <p>{{ ::vm.contentTypes[vm.item.contentType] }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.item.contentUrl">
      <div class="md-list-item-text">
        <h3>Content URL</h3>
        <p>{{ ::vm.item.contentUrl }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Cover</h3>
        <!--<p>-->
          <!--<img ng-src="{{ ::vm.getImageUrl(vm.item.cover) }}">-->
        <!--</p>-->
        <div class="book-cover-container">
          <div class="book-cover-dummy"></div>
        </div>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.item.tags.length">
      <div class="md-list-item-text">
        <h3>Tags</h3>
        <p>{{ ::vm.item.tags.join(', ') }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Platform support</h3>
        <p>{{ ::vm.parsePlatformNames(vm.item.platformSupport) }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.item.previewImages.length">
      <div class="md-list-item-text">
        <h3>Preview images</h3>
        <!--<p>-->
          <!--<img ng-src="{{ ::vm.getImageUrl(image) }}"-->
               <!--ng-repeat="image in vm.item.previewImages track by $index">-->
        <!--</p>-->
        <div class="book-cover-container">
          <div class="book-cover-dummy"></div>
        </div>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.item.previewVideos.length">
      <div class="md-list-item-text">
        <h3>Preview videos</h3>
        <p>{{ ::vm.item.previewVideos }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.isNotEmptyObject(vm.item.options)">
      <div class="md-list-item-text">
        <h3>Options</h3>
        <p ng-repeat="(key, value) in vm.item.options">
          {{ ::key }}: {{ ::value }}
        </p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Max keys</h3>
        <p>{{ ::vm.item.maxKeys }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Is public</h3>
        <p>{{ ::vm.item.isPublic ? 'Yes' : 'No' }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3>Publishing status</h3>
        <p>{{ ::vm.publishingStatuses[vm.item.publishingStatus] }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.item.rejectReason">
      <div class="md-list-item-text">
        <h3>Reject reason</h3>
        <p>{{ ::vm.item.rejectReason }}</p>
      </div>
    </md-list-item>

    <md-list-item class="md-2-line" ng-if="vm.isNotEmptyObject(vm.item.licenseParams)">
      <div class="md-list-item-text">
        <h3>License params</h3>
        <p ng-repeat="(key, value) in vm.item.licenseParams">
          {{ ::key }}: {{ ::value }}
        </p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
