<md-grid-list
  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
  md-row-height-gt-md="1:1" md-row-height="2:2"
  md-gutter="12px" md-gutter-gt-sm="8px">
  <md-grid-tile md-colspan="1" md-rowspan="1"
                ng-repeat="item in vm.catalog track by $index">
    <a class="book-link" ui-sref="item({id: item.id})">
      <div class="book-cover-dummy"></div>
      <md-grid-tile-footer>
        <h3>{{ ::item.title.default }}</h3>
      </md-grid-tile-footer>
    </a>
  </md-grid-tile>
</md-grid-list>
